APP_NAME=Pet Lending MVP API
MONGO_URL=mongodb+srv://Shantanu:Shans123@cluster0.mwlapay.mongodb.net/?appName=Cluster0
MONGO_DB=pet_lending_mvp
JWT_SECRET=242003d2bc5d0d118bab2cfcfc2052d4
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
BORROWER_COMMISSION_RATE=0.10
LENDER_COMMISSION_RATE=0.05
CORS_ORIGINS=https://co-pet.vercel.app/login,http://localhost:3000
